<h3>Session Details</h3>

<form [formGroup]="sessionDetails">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title" disabled>
  </div>
  <div class="form-group">
    <label for="abstract">Abstract</label>
    <textarea rows="4" class="form-control" id="abstract" formControlName="abstract" disabled></textarea>
  </div>
  <div formGroupName="speaker">
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstname" disabled>
    </div>
    <div class="form-group">
      <label for="lastName">LastName</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastname" disabled>
    </div>
  </div>
</form>

<button class="btn btn-secondary btn-sm" type="button" *ngIf="isMobileAppApp" (click)="shareSession()">Share Session</button>
